# Use root/example as user/password credentials
version: '3'

services:

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
      - ./configdb:/data/configdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: jabes1993
      MONGO_INITDB_ROOT_PASSWORD: 201812345678

  mongo-express:
    image: mongo-express:latest
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: jabes1993
      ME_CONFIG_MONGODB_ADMINPASSWORD: 201812345678